body {
    font-family: serif;
    font-variant-numeric: stacked-fractions;
    counter-reset: h3 h4 h5 h6 table;
}

a,
a:link,
a:visited {
    color: black;
    text-decoration: underline;
}

.mobile {
    display: none;
}

.overbar {
    text-decoration: overline;
}

nav.main {
    line-height: 1.75;
}

nav.main details ul {
    text-align: center;
}

nav.main details ul ul {
    text-align: left;
}

nav.main ul {
    list-style: none;
}

nav.main li.normal {
    font-weight: bold;
    text-decoration: underline;
}

nav.main a {
    color: black;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center;
    margin-top: 2rem;
}

h6 {
    font-style: italic;
    font-size: small;
}



h2 {
    counter-set: h3 0;
}

h3::before {
    content: counter(h3) ". ";
    counter-increment: h3;
    counter-set: h4 0;
}

h4::before {
    content: counter(h3) "." counter(h4) " ";
    counter-increment: h4;
    counter-set: h5 0;
}

h5::before {
    content: counter(h3) "." counter(h4) "." counter(h5) " ";
    counter-increment: h5;
    counter-set: h6 0;
}

h6::before {
    content: counter(h3) "." counter(h4) "." counter(h5) "." counter(h6) " ";
    counter-increment: h6;
}

h2 {
    text-align: center;
    text-decoration: underline;
}

h2 a {
    text-decoration: none;
}

.symbol {
    font-style: italic;
}

.small-caps {
    font-variant-caps: small-caps;
}

.boson {
    font-style: normal;
}

.antimatter {
    text-decoration: overline;
}

figure {
    margin-bottom: 2em;
}

figcaption {
    font-size: smaller;
    text-align: center;

}

figcaption::before {
    content: "Fig " counter(table) ".";
    counter-increment: table;
    font-style: italic;
}

main p {
    line-height: 1.5;
    margin: 1em;
    text-indent: 1em;
}

main ul,
main ol {
    margin-left: 10%;
}

main ol {
    list-style: lower-roman;
}

main table {
    margin-top: 2em;
}

main table td,
main table th {
    padding: 2px 1em;
}

main table.hierarchy td {
    border: none;
    height: 1em;
}

@media screen and (max-width: 800px) {
    .desktop {
        display: none;
    }

    .mobile {
        display: initial;
    }

}